# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release





# All folders specific to environment
/smart_start/macos/
/smart_start/test/
/smart_start/web/
/smart_start/ios/
/smart_start/linux/
/smart_start/android/
/smart_start/build/
/smart_start/.dart_tool/
/smart_start/windows/
/smart_start/.idea/
smart_start/.metadata

smart_start/README.md
smart_start/analysis_options.yaml
smart_start/pubspec.lock
